* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

input {
  font-size: 14px;
}

body {
  line-height: 1.4;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}

input {
  border: 1px solid #eeeeee;
  padding: 12px;
  outline: none;
}

button {
  cursor: pointer;
  padding: 12px;
  background: #7c5cbf;
  border: none;
  color: white;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover {
  background: #6b47b8;
}

button:disabled {
  cursor: default;
  background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
  background: linear-gradient(
    45deg,
    #e5ffcc,
    #1ebea5,
    #00e676,
    #d0e9ea,
    #edf8f5,
    #ffffff
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form__box {
  box-shadow: 0px 0px 17px 1px #1d1f26;
  background: #f7f7fa;
  padding: 24px;
  width: 250px;
}

.centered-form button {
  width: 100%;
}

.centered-form input {
  margin-bottom: 16px;
  width: 100%;
}

/* Chat Page Layout */

.chat {
  display: flex;
  overflow: hidden;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-size: cover;
}

.chat__sidebar {
  height: 100vh;
  color: white;
  background: #333744;
  width: 0;
  overflow-y: scroll;
  transition: width 0.3s ease-in-out;
}
.chat__sidebar.show {
  width: 150px;
}
.sidebaricon {
  position: relative;
  width: 20px;
  /* margin-top: 5px; */
}
.iconshow,
.iconhide {
  position: absolute;
  z-index: 20;
  left: 5px;
  top: 8px;
}
.iconshow img,
.iconhide img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  transition: all 0s ease-in-out;
  transition-delay: 0.15s;
}
.iconhide {
  left: 110px;
  top: 8px;
}
.hide {
  visibility: hidden;
}
/* Chat styles */

.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.chat__messages {
  flex-grow: 1;
  padding: 24px 0 0 24px;
  overflow-y: scroll;
}

/* Message Styles */

.message {
  margin-bottom: 16px;
  border-radius: 10px;
  padding: 5px;
  min-width: 97%;
  max-width: 97%;
}
.message.user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.bgmsg.user {
  background-color: #25d366;
  border-radius: 10px;
  padding: 10px;
  max-width: 60vw;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
.bgmsg.other {
  background-color: #34b7f1;
  border-radius: 10px;
  padding: 10px;
  max-width: 60vw;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
.message.other {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message__name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}

.message__meta {
  color: rgb(105, 101, 101);
  font-size: 14px;
}

.message a {
  color: red;
}

/* Message Composition Styles */

.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
}

.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.compose input {
  border: 1px solid #eeeeee;
  width: 100%;
  padding: 12px;
  margin: 0 10px 0 0;
  flex-grow: 1;
  border-radius: 10px;
}

.compose button {
  font-size: 14px;
  margin: 2px;
  border-radius: 10px;
}

/* Chat Sidebar Styles */

.room-title {
  font-weight: 400;
  font-size: 22px;
  background: #2c2f3a;
  padding: 24px;
}

.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 12px 24px 0 24px;
}

.users {
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 0 24px;
}
